<div class="tabset">
<ngb-tabset>
  <ngb-tab title="Add Movie">
    <ng-template ngbTabContent>
        <app-addmoviesdetails></app-addmoviesdetails>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Add Actor">
    <ng-template ngbTabContent>
        <app-addactordetails></app-addactordetails>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Add Producer">
    <ng-template ngbTabContent>
        <app-addproducerdetails></app-addproducerdetails>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>